
<footer id="ft">
    <section class="ft-container">
        <div class="top-inner">
            <h2><a href="/index.html"><img src="/img/logo1.svg" alt="logo_ft"></a></h2>
            <ul class="ft-link">
                <li><a href="#">개인정보처리방침</a></li>
                <li><a href="#">이용약관 및 규칙</a></li>
                <li><a href="#">기업소개</a></li>
                <li><a href="#">찾아오시는 길</a></li>
                <li><a href="#">고객후기</a></li>
                <li><a href="#">고객센터</a></li>
            </ul>
        </div>
        <div class="ft-right-icon">
            <ul>
                <li><a href="https://www.naver.com/" target="_blank"><img src="/img/naver.png" alt="ft-naver"></a></li>
                <li><a href="https://www.instagram.com/" target="_blank"><img src="/img/instagram.png" alt="ft-instagram"></a></li>
                <li><a href="https://ko-kr.facebook.com/" target="_blank"><img src="/img/facebook.png" alt="ft-facebook"></a></li>
                <li><a href="https://www.kakaocorp.com/page/" target="_blank"><img src="/img/kakao.png" alt="ft-kakao"></a></li>
                <li><a href="https://twitter.com/i/flow/login?redirect_after_login=%2F" target="_blank"><img src="/img/twitter.png" alt="ft-twitter"></a></li>
            </ul>
        </div>
    </section>
    <section class="ft-container1">
        <div class="bottom-inner">
            <div class="ft-txt">
                <p>대표자 : 전세혁</p>
                <p>사업자등록번호 : 000-00-00000</p>
                <p>주소 : 00도 00시 00구</p>
                <p>연락처 : 000-000-0000</p>
                <p>이메일 : company@bilybear.com</p>
                <p>ⓒ2021 BilyBear. All Rights Reserved</p>
                <p>(주)빌리베어의 상표, 제품 디자인 그리고 당사가 운영하는 웹사이트 등에 게재된 저작물과 관련한 모든 지식재산권은 (주)빌리베어가 보유하고 있습니다.</p>
            </div>
            <div class="ft-download">
                <ul>
                    <li><a href="https://www.apple.com/kr/app-store/" target="_blank"><img src="/img/iosappstore.png" alt=""></a></li>
                    <li><a href="https://play.google.com/store/games?hl=ko-KR" target="_blank"><img src="/img/playstore.png" alt=""></a></li>
                </ul>
            </div>
        </div>
    </section>
</footer>
<script>
        
</script>
</body>
</html>